[submodule "themes/themes/hexo-theme-next-custom"]
	path = themes/themes/hexo-theme-next-custom
	url = https://github.com/yunxijun/hexo-theme-next-custom.git
[submodule "themes/hexo-theme-next-custom"]
	path = themes/hexo-theme-next-custom
	url = https://github.com/yunxijun/hexo-theme-next-custom.git
